{% block context %}
{
    "description": "Product Pricing Plans",
    "keywords": "products,pricing,buy me ",
    "plans":[
        {
            "name":"Starter",
            "price":"free",
            "class":"success",
            "features":[1]

         },
        {
            "name":"Basic",
            "price":"$4 / month",
            "class":"danger",
            "features":[1,2]

         },
        {
            "name":"Enterprise",
            "price":"$40 / mouth",
            "class":"info",
            "features":[1,2,3]
        }
    ],
    "features":[
       "Feature #1",
       "Feature #2",
       "Feature #3"
               ]
}
{% endblock %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2> Available pricing plans></h2>
        </div>
    </div>
    <div class="row">
        {% for plan in plans %}
            <div class="col-md-4">
                <div class="panel panel-{{plan.class}}">
                    <!--使用语境状态类 panel-primary、
                    panel-success、panel-info、panel-warning、panel-danger，来设置带语境色彩的面板-->
                    <div class="panel-heading">
                        <h4 class="text-center">{{plan.name}} plan - {{plan.price}}</h4>
                    </div>
                <!--在任何面板中包含列表组，通过在 <div> 元素中添加
                .panel 和 .panel-default 类来创建面板，并在面板中添加列表组-->
                    <ul class="list-group list-group-flush text-center">
                        {% for feature in features %}
                            <li class="list-group-item"
                                {% if forloop.counter not in plan.features %}
                                    disabled
                                {% endif %}>
                                {{feature}}
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg  btn-block btn-{{plan.class}}" href="#">BUY NOW!</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md5-12">
            <p>{% lorem %}</p>
        </div>
    </div>
</div>
